#left-arm {
  -webkit-animation: leftArm 3s infinite;
          animation: leftArm 3s infinite;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

@-webkit-keyframes leftArm {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes leftArm {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

#right-arm {
  -webkit-animation: rightArm 3s infinite;
          animation: rightArm 3s infinite;
}

@-webkit-keyframes rightArm {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  50% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  75% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes rightArm {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  25% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  50% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  75% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

#leg {
  -webkit-animation: leg 3s infinite;
          animation: leg 3s infinite;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

@-webkit-keyframes leg {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes leg {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

#content {
  -webkit-animation: contentAnimation 3s infinite;
          animation: contentAnimation 3s infinite;
}

@-webkit-keyframes contentAnimation {
  0% {
    visibility: inherit;
  }
  50% {
    visibility: collapse;
  }
  100% {
    visibility: collapse;
  }
}

@keyframes contentAnimation {
  0% {
    visibility: inherit;
  }
  50% {
    visibility: collapse;
  }
  100% {
    visibility: collapse;
  }
}
/*# sourceMappingURL=ChillingSVG.css.map */