.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  background-color: transparent;
}

.header--btn {
  position: absolute;
  right: 4vw;
  top: 4vh;
  z-index: 1000;
  cursor: pointer;
}

.header--btn > input[type='checkbox'] {
  display: none;
}

.header--btn #top,
.header--btn #middle,
.header--btn #bottom {
  width: 40px;
  height: 3px;
  background: black;
  margin-bottom: 5px;
}

.header--btn .topcheck {
  -webkit-animation: topAnimation 0.2s forwards;
          animation: topAnimation 0.2s forwards;
}

.header--btn .middlecheck {
  -webkit-animation: middleAnimation 0.2s forwards;
          animation: middleAnimation 0.2s forwards;
}

.header--btn .bottomcheck {
  display: none;
}

.header--btn .topuncheck {
  -webkit-animation: topUncheckAnimation 0.2s forwards;
          animation: topUncheckAnimation 0.2s forwards;
}

.header--btn .middleuncheck {
  -webkit-animation: middleUncheckAnimation 0.2s forwards;
          animation: middleUncheckAnimation 0.2s forwards;
}

.header--btn .bottomuncheck {
  display: block;
}

.header--nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(54, 54, 54, 0.938);
  width: 100vw;
  height: 100vh;
  z-index: 500;
  top: 0;
  left: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header--nav .nav--link {
  list-style: none;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header--nav .nav--link a {
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
}

.header--nav .nav--link a:hover {
  text-decoration: underline;
}

.header--navCheck {
  -webkit-animation: navAnmation 0.5s forwards;
          animation: navAnmation 0.5s forwards;
}

.header--navUncheck {
  -webkit-animation: navUncheckAnmation 0.4s forwards;
          animation: navUncheckAnmation 0.4s forwards;
}

@-webkit-keyframes navAnmation {
  0% {
    left: 100%;
    z-index: 500;
  }
  100% {
    left: 0%;
    z-index: 500;
  }
}

@keyframes navAnmation {
  0% {
    left: 100%;
    z-index: 500;
  }
  100% {
    left: 0%;
    z-index: 500;
  }
}

@-webkit-keyframes navUncheckAnmation {
  0% {
    left: 0%;
    z-index: 500;
  }
  100% {
    left: 100%;
    z-index: 500;
  }
}

@keyframes navUncheckAnmation {
  0% {
    left: 0%;
    z-index: 500;
  }
  100% {
    left: 100%;
    z-index: 500;
  }
}

@-webkit-keyframes topAnimation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    background: #000;
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #fff;
  }
}

@keyframes topAnimation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    background: #000;
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #fff;
  }
}

@-webkit-keyframes middleAnimation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    background: #000;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #fff;
  }
}

@keyframes middleAnimation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    background: #000;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #fff;
  }
}

@-webkit-keyframes topUncheckAnimation {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #fff;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #000;
  }
}

@keyframes topUncheckAnimation {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #fff;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #000;
  }
}

@-webkit-keyframes middleUncheckAnimation {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #fff;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #000;
  }
}

@keyframes middleUncheckAnimation {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #fff;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #000;
  }
}

.index {
  width: 100vw;
  height: 100%;
  z-index: 10;
}

.index--background {
  width: 100%;
  height: 100vh;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index--background > div {
  text-align: center;
}

.index--background h1 {
  font-size: 3.5rem;
}

.index--text::after {
  content: 'Welcome to my page';
  animation: indexText 4s infinite alternate-reverse;
}

@-webkit-keyframes indexText {
  0% {
    content: 'Welcome to my page';
  }
  100% {
    content: 'Enjoy';
  }
}

@keyframes indexText {
  0% {
    content: 'Welcome to my page';
  }
  100% {
    content: 'Enjoy';
  }
}

.contact {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact h1 {
  letter-spacing: 2px;
}

.contact--container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5vh 2vw;
  margin-top: 5vh;
}

.contact--container svg {
  color: rgba(27, 27, 27, 0.932);
}

.contact--container svg:visited, .contact--container svg:active {
  color: rgba(27, 27, 27, 0.932);
}

.contact--container svg:hover {
  -webkit-animation: iconHover infinite 0.7s both cubic-bezier(0.45, -0.33, 0.41, 1.39);
          animation: iconHover infinite 0.7s both cubic-bezier(0.45, -0.33, 0.41, 1.39);
}

@-webkit-keyframes iconHover {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes iconHover {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.about img {
  width: 100%;
}

.about hr {
  margin: 3vh 0;
}

.about--header {
  font-size: 2.5rem;
  width: 100%;
  margin: 8vh 0;
  text-align: center;
}

.education {
  z-index: -1;
  margin: 0 0 10vh 0;
}

.techskills {
  margin: 0 0 10vh 0;
}

.techskills #skills {
  height: 100%;
  width: 300px;
}

.softskills {
  margin: 0 0 10vh 0;
}

.softskills--description {
  margin: 0 0 4vh 0;
}

.find {
  margin: 0 0 10vh 0;
}

.find > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.find--btn {
  padding: 2rem 4rem;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border: solid 1px rgba(36, 36, 36, 0.897);
  color: #000;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.find--btn:visited, .find--btn:active {
  color: #000;
}

.find--btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  -webkit-clip-path: circle(0% at 0 0);
          clip-path: circle(0% at 0 0);
  -webkit-transition: 1s;
  transition: 1s;
  z-index: -1;
}

.find--btn:hover {
  color: #fff;
}

.find--btn:hover::after {
  -webkit-clip-path: circle(142% at 0 0);
          clip-path: circle(142% at 0 0);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato';
}

.App {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 75%;
}

.grid-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 2vw;
}

.svg {
  width: 50%;
  height: 200px;
  padding-top: 48%;
  position: relative;
}

.svg svg {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}

p {
  line-height: 1.5rem;
  letter-spacing: 1px;
}
/*# sourceMappingURL=index.css.map */