.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  background-color: transparent;
}

.header--btn {
  position: absolute;
  right: 4vw;
  top: 4vh;
  z-index: 1000;
  cursor: pointer;
}

.header--btn > input[type='checkbox'] {
  display: none;
}

.header--btn #top,
.header--btn #middle,
.header--btn #bottom {
  width: 40px;
  height: 3px;
  background: black;
  margin-bottom: 5px;
}

.header--btn .topcheck {
  -webkit-animation: topAnimation 0.2s forwards;
          animation: topAnimation 0.2s forwards;
}

.header--btn .middlecheck {
  -webkit-animation: middleAnimation 0.2s forwards;
          animation: middleAnimation 0.2s forwards;
}

.header--btn .bottomcheck {
  display: none;
}

.header--btn .topuncheck {
  -webkit-animation: topUncheckAnimation 0.2s forwards;
          animation: topUncheckAnimation 0.2s forwards;
}

.header--btn .middleuncheck {
  -webkit-animation: middleUncheckAnimation 0.2s forwards;
          animation: middleUncheckAnimation 0.2s forwards;
}

.header--btn .bottomuncheck {
  display: block;
}

.header--nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(54, 54, 54, 0.938);
  width: 100vw;
  height: 100vh;
  z-index: 500;
  top: 0;
  left: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header--nav .nav--link {
  list-style: none;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header--nav .nav--link a {
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
}

.header--nav .nav--link a:hover {
  text-decoration: underline;
}

.header--navCheck {
  -webkit-animation: navAnmation 0.5s forwards;
          animation: navAnmation 0.5s forwards;
}

.header--navUncheck {
  -webkit-animation: navUncheckAnmation 0.4s forwards;
          animation: navUncheckAnmation 0.4s forwards;
}

@-webkit-keyframes navAnmation {
  0% {
    left: 100%;
    z-index: 500;
  }
  100% {
    left: 0%;
    z-index: 500;
  }
}

@keyframes navAnmation {
  0% {
    left: 100%;
    z-index: 500;
  }
  100% {
    left: 0%;
    z-index: 500;
  }
}

@-webkit-keyframes navUncheckAnmation {
  0% {
    left: 0%;
    z-index: 500;
  }
  100% {
    left: 100%;
    z-index: 500;
  }
}

@keyframes navUncheckAnmation {
  0% {
    left: 0%;
    z-index: 500;
  }
  100% {
    left: 100%;
    z-index: 500;
  }
}

@-webkit-keyframes topAnimation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    background: #000;
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #fff;
  }
}

@keyframes topAnimation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    background: #000;
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #fff;
  }
}

@-webkit-keyframes middleAnimation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    background: #000;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #fff;
  }
}

@keyframes middleAnimation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    background: #000;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #fff;
  }
}

@-webkit-keyframes topUncheckAnimation {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #fff;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #000;
  }
}

@keyframes topUncheckAnimation {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #fff;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #000;
  }
}

@-webkit-keyframes middleUncheckAnimation {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #fff;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #000;
  }
}

@keyframes middleUncheckAnimation {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #fff;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: 37%;
            transform-origin: 37%;
    background: #000;
  }
}
/*# sourceMappingURL=Header.css.map */