.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6vh;
    background-color: transparent;

    &--btn {
        position: absolute;
        right: 4vw;
        top: 3.5vh;
        z-index: 1000;
        cursor: pointer;

        &>input[type='checkbox'] {
            display: none;
        }

        #top,
        #middle,
        #bottom {
            width: 40px;
            height: 3px;
            background: black;
            margin-bottom: 5px;
        }

        .topcheck {
            animation: topAnimation 0.2s forwards;
        }

        .middlecheck {
            animation: middleAnimation 0.2s forwards;
        }

        .bottomcheck {
            display: none;
        }

        .topuncheck {
            animation: topUncheckAnimation 0.2s forwards;
        }

        .middleuncheck {
            animation: middleUncheckAnimation 0.2s forwards;
        }

        .bottomuncheck {
            display: block
        }
    }

    &--nav {
        position: absolute;
        display: flex;
        background: rgba(54, 54, 54, 0.938);
        width: 100vw;
        height: 100vh;
        z-index: 500;
        top: 0;
        left: 100%;
        align-items: center;
        justify-content: center;

        .nav--link {
            list-style: none;
            height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            & a {
                font-size: 1.5rem;
                letter-spacing: 2px;
                color: white;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &--navCheck {
        animation: navAnmation 0.5s forwards;
    }

    &--navUncheck {
        animation: navUncheckAnmation 0.4s forwards;
    }
}

@keyframes navAnmation {
    0% {
        left: 100%;
        z-index: 500;
    }

    100% {
        left: 0%;
        z-index: 500;
    }
}

@keyframes navUncheckAnmation {
    0% {
        left: 0%;
        z-index: 500;
    }

    100% {
        left: 100%;
        z-index: 500;
    }
}


@keyframes topAnimation {
    0% {
        transform: rotate(0);
        background: #000;
    }

    100% {
        transform: rotate(45deg);
        transform-origin: 37%;
        background: #fff;
    }
}

@keyframes middleAnimation {
    0% {
        transform: rotate(0);
        background: #000;
    }

    100% {
        transform: rotate(-45deg);
        transform-origin: 37%;
        background: #fff;
    }
}

@keyframes topUncheckAnimation {
    0% {
        transform: rotate(45deg);
        transform-origin: 37%;
        background: #fff;
    }

    100% {
        transform: rotate(0);
        transform-origin: 37%;
        background: #000;
    }
}

@keyframes middleUncheckAnimation {
    0% {
        transform: rotate(-45deg);
        transform-origin: 37%;
        background: #fff;
    }

    100% {
        transform: rotate(0);
        transform-origin: 37%;
        background: #000;
    }
}